@import '../assets/global.scss'; 

.quantity-empty{
    background-color: #ffcccb;
}
tr{
    border-bottom: 1px solid #dedede;
}
tr:hover{
    background-color:#efefef;
}

.tr-disabled{
    background-color: whitesmoke;
    color: #dedede;
    button{
        cursor: default;
        background-color: #dedede;
        color: grey;
    }
    button:hover{
        background-color: #dedede;
        color: grey;
    }
}